footer{
    background-color: black;
    color: white;
    h1{
        padding: 2rem;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    input{
        width: 800px;
        padding: 0.8rem;
       margin-left: 300px;
    }
    button{
        padding: 0.7rem;
        font-weight: 700;
        color: aliceblue;
        background-color: orange;
        margin-bottom: 100px;
        
    }
}